<div class="grid-container">
  <div class="medium-6 cell">
    <% if @event.errors.any? %>
      <br>
      <div class="callout alert">
        <h5>Edit Event Errors</h5>
        <ul>
          <%@event.errors.full_messages.each do |error|%>
            <li><%=error.upcase%></li>
          <%end%>
        </ul>
      </div>
    <% end %>
    <fieldset class="fieldset">
      <legend>Edit Event</legend>
      <form action="/events/<%=@event.id%>" method="post">
        <input type="hidden" name="_method" value="PUT">
        <label>Title:</label>
        <input type="text" required="true" name="title" value="<%=@event.title%>">
        <label>Location:</label>
        <select name="location_id">
          <% Location.all.each do |location| %>
            <option <%= 'selected' if location.id == @event.location_id %> value="<%=location.id%>"><%= location.address_1 %></option>
          <% end %>
        </select>
        <label>Date:</label>
        <input type="date" name="date" value="<%=@event.date&.strftime('%Y-%m-%d')%>">
        <label>Description: </label>
        <textarea required="true" name="description" value="<%=@event.description%>">Enter description here...</textarea>
        <input type="submit" value="submit">
      </form>
    </fieldset>
  </div>
</div>
