<div class="grid-container">
  <div class="medium-6 cell">
    <h4>Search</h4>
    <form action="/events" method="get">
      <div style="width:200px;display: inline-block;">
        <label>Title:</label>
        <input type="text" name="[search]title" value="<%=params.dig(:search, :title)%>">
      </div>
      <div style="width:200px;display: inline-block;">
        <label>Location:</label>
        <select name="[search]location_id">
          <option> </option>
          <% Location.all.each do |location| %>
            <option <%= 'selected' if location.id.to_s == params.dig(:search, :location_id) %> value="<%=location.id%>"><%= location.address_1 %></option>
          <% end %>
        </select>
      </div>
      <br>
      <input type="submit" value="Search">
    </form>
  </div>
  <div class="medium-6 cell">
    <h2><%= @events.count %> Events</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Location</th>
          <th>Date</th>
          <th>Hosts</th>
          <th>Attendees</th>
          <th colspan='2'>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |record| %>
          <tr>
            <td><%= record.id %></td>
            <td><%= record.title %></td>
            <td><%= record.description %></td>
            <td><%= record.location.address_1 %></td>
            <td><%= record.date %></td>
            <td><a href=<%="event/#{record.id}/hosts"%>><%= record.hosts.count > 0 ? record.hosts.count : "Add Host" %></a></td>
            <td><a href=<%="event/#{record.id}/attendees"%>><%= record.attendees.count > 0 ? record.attendees.count : "Invite People" %></a></td>
            <td><a href=<%="events/#{record.id}/edit"%>>Edit</a></td>
            <td>
              <form action="/events/<%=record.id%>" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete">
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <a href='/events/new'>New Events</a>
  </div>
</div>
