<div class="grid-container">
  <div class="medium-6 cell">
    <h4>Search</h4>
    <form action="/tasks" method="get">
      <div style="width:200px;display: inline-block;">
        <label>Event:</label>
        <select name="[search]event_id">
          <% unless params.dig(:search, :event_id).present? %>
            <option> </option>
          <% end %>
          <% Event.all.each do |event| %>
            <option <%= 'selected' if event.id.to_s == params.dig(:search, :event_id) %> value="<%=event.id%>"><%= event.title %></option>
          <% end %>
        </select>
      </div>
      <div style="width:200px;display: inline-block;">
        <label>User:</label>
        <select name="[search]user_id">
          <% unless params.dig(:search, :user_id).present? %>
            <option> </option>
          <% end %>
          <% User.all.each do |user| %>
            <option <%= 'selected' if user.id.to_s == params.dig(:search, :user_id) %> value="<%=user.id%>"><%= user.first_name %></option>
          <% end %>
        </select>
      </div>
      <div style="width:200px;display: inline-block;">
        <label>
          <input <%= 'checked' if params.dig(:search, :status) == "on" %> type="checkbox" name="[search]status"> Completed?
        </label>
      </div>
      <br>
      <input type="submit" value="Search">
    </form>
  </div>
  <div class="medium-6 cell">
    <h2><%= @tasks.count %> Tasks</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>User</th>
          <th>Status</th>
          <th>Description</th>
          <th>Event</th>
          <th colspan='2'>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |record| %>
          <tr>
            <td><%= record.id %></td>
            <td><%= record.user.first_name %></td>
            <td><%= record.status ? "Completed" : "Pending" %></td>
            <td><%= record.description %></td>
            <td><%= record.event&.title || 'N/A' %></td>
            <td><a href=<%="tasks/#{record.id}/edit"%>>Edit</a></td>
            <td>
              <form action="/tasks/<%=record.id%>" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete">
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <a href='/tasks/new'>New Task</a>
  </div>
</div>
